{% extends 'partial/layout.html' %}
{% block header %}
{% include 'partial/header.html' %}
{% endblock header %}
        
{% block banner %} 
{% include 'partial/banner.html' %}		
{% endblock banner %}
               
{% block myskills %}
{% include 'partial/myskills.html' %}
{% endblock myskills %}
        
{% block experience %}
{% include 'partial/experience.html'  %}
{% endblock experience %}
        
{% block offers %}
{% include 'partial/offers.html' %}
{% endblock offers %}
{% block myworkingstyle %}
{% include 'partial/myworkingstyle.html' %}
{% endblock myworkingstyle %}
        
{% block gallery %}
{% include 'partial/myprojectgallery.html' %}
{% endblock gallery %}

        
{% block footer %}
{% include 'partial/footer.html' %}
{% endblock footer %}
   